
/*TYPE STYLING*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border: solid 9px #00ffc9;
    box-sizing: border-box;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: url("/img/cursor.png") 3 3,auto !important;
    cursor: -webkit-image-set(url("/img/cursor.png") 1x, url("/img/cursor.png") 2x) 3 3,pointer !important;

}
a {
  cursor: url("/img/cursor.png") 3 3,auto !important;
  cursor: -webkit-image-set(url("/img/cursor.png") 1x, url("/img/cursor.png") 2x) 3 3,pointer !important;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

iframe{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
background-size: cover;
-webkit-transition: 1s opacity;
transition: 1s opacity;
}

.fullBody {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.closed{
  width: 30px;
  height: 30px;
  background: black;
  position: fixed;
  right: 0;
  top:0;
}
.nav {
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin: 0;
    padding: 0;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}
.logo {

    color: #2E3B4B;
    position: absolute;
    top: 0;
    left: 0;
}
.logo h3 {

    position: relative;
    top: 10px;
    line-height: 0;
    left: 20px;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    letter-spacing: -4px;
}
.logo h3:before {
  display: block;
  content: '';
  width: 200px;
  height: 20px;
  margin-bottom: -28px;
  background: #00ffc9;
  margin-left: 0;
}
.logo h3:after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-bottom: -12px;
  background: #00ffc9;
  margin-left: 0;
  border-radius:50%;
  left:100%;

}

.logo h3 a {
    text-decoration: none;
    color: #2E3B4B;
}
.logo img{
  position: fixed;
  z-index: 9999;
  left: 20px;
  top:20px;
  width: 50px;
  margin-bottom: 20px;
}
.logo p {
  font-family: 'Libre Barcode 39 Text', cursive;
  position: relative;
  font-weight: lighter;
  padding: 0;
  margin: 0px;
  margin-top: 10px;
  left: 20px;
  font-size: 32px;
  font-size: 2rem;
  color: #2E3B4B;
}

.hamburguer{
  position: fixed;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 30px;
  box-sizing: border-box;
  z-index: 9999;
  clear: both;
  margin: 0 auto;
  text-align: center;
}
.hamburguer img {
  width: 10px;
  text-align: center;

}

.hamburguer span{
  position: relative;
  display: block;
  height: 1px;
  width: 35px;
  margin: 6px 0px 0px 0px;
  background: black;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hamburguer span.showBurger{
  margin: 6px auto;

}


.hamburguer span:nth-child(2){
  width: 25px;
}
.hamburguer span:nth-child(3){
  width: 15px;
}

nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #00ffc9;
  display: none;
  z-index: 9998;
  top:0;
  left:0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10%;

}
nav ul li{
  display: block;
  height:25%;
  font-size: 32px;
  font-size: 2rem;
  font-weight:800;
  letter-spacing: 10px;
  margin-bottom: 80px;
  margin-bottom:5rem ;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      line-height: 1;

}
nav ul li a{
  color: white;
  text-decoration: none;
  outline: none;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);

}


nav ul li a:before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #2E3B4B;
    white-space: nowrap;
    width: 0%;
    -webkit-transition: width 0.4s 0.2s;
    transition: width 0.4s 0.2s;
}
nav ul li a:after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #FFFFFF;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}




nav ul li a:hover {
	color: #FFFFFF;
  -webkit-transform: scale(2);
          transform: scale(2);
}


nav ul li a:hover:after {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}


nav ul li a:hover:before {
	width: 100%;
}
.show_nav{
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media all and (max-width: 750px) {
    .active {
        border-bottom: none;
    }
}
@media all and (min-width: 750px) {
    .nav ul li {
        display: inline-block;
        margin-left: 16px;
        margin-top: 1em;
    }
    .nav ul {
        float: right;
        height: 70px;
        background: none;
        width: auto;
        margin-top: 1.4em;
        right: 20%;
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    .nav ul li a {
        text-decoration: none;
        color: #4A4A4A;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 4em;
    }
}
@media all and (max-width: 750px) {
    .nav ul.hideList {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }
}
svg {
    margin: 0;
    padding: 0;
}
.wave {
    position: absolute;
    top: 10%;
    right: 9px;
    width: 85%;
    margin: 0;
    padding: 0;
    max-width: 1024px;
    min-width: 580px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
@media all and (max-width:550px){
  .wave{
    top:0;
  }
}
.it {
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;

}
#wave_full {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.anime_waveFull {
    -webkit-animation: showFromLeft .4s  .2s ease-in-out forwards;
            animation: showFromLeft .4s .2s ease-in-out forwards;
}
#wave_border {
    stroke-dasharray: 100000;
    stroke-dashoffset: 100000;
    -webkit-animation: dash 10s ease-in-out forwards;
            animation: dash 10s ease-in-out forwards;
}
@-webkit-keyframes showFromLeft {
    to {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}
@keyframes showFromLeft {
    to {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    }
}
@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.small--container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#section1 {
    background: url(../img/background_sea.jpg) 0% 0% fixed no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-top: -10%;
}
.about {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #2E3B4B;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: all ease-in-out 0.8s;
    transition: all ease-in-out 0.8s;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}


.btn {
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
    text-transform: uppercase;
    border: 3px solid #2E3B4B;
    color: #2E3B4B;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 4em;
}
.btn:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #2E3B4B;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn:hover:after {
    width: 100%;
}
.btn:hover {
    color: #FAFAFA;
}
.about h2 {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    vertical-align: center;
    line-height: 0;
}
.about h1 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    vertical-align: center;
    line-height: 0;
    letter-spacing: 4px;
}
.about__title {
    width: 30%;
    margin-right: 20%;
    margin-top: 30%;
    text-align: justify;

}
.show__title {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(-3em);
            transform: translateY(-3em);
}

.project__title {
  margin-left: 5%;
  width: 50%;
  max-width: 400px;
  min-width: 100px;
    float: left ;
    margin-top: 10em;
}

@media all and (max-width:800px){
  .project__title {
      margin-top: 5em;
      margin-left: 10%;
  }
}
.project {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    overflow: hidden;
    margin-top: 3em;
    padding: 10em 0;
}

.project li {
  width: 100%;
  max-width: 33.333%;
}
.project a {
  text-decoration: none;

}

.project img {
  width: 100%;
}

.project p {
  margin-top: -2em;
  font-size: 16px;
  font-size: 1rem;
  color: white;
  font-weight: 800;
}
@media all and (max-width: 850px) {
  .project{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project li {
    width: 100%;
    max-width: 100%;
  }
}


.project li svg {
    width: 100%;
    margin: 0;
    padding: 0;
}

.project__title h1 {
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
    font-size: 60px;
    padding: 0;
    font-weight: 500;
}
.flex__parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align horizontal */

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    box-sizing: border-box;
    background: #FAFAFA;
}

.about__design{
  width: 100%;
  background: url(../img/back__shape.svg) 0% 0%  no-repeat;
  background-size: 80%;

}
.margin-top{
  margin-top: 20%;

}
.big__container{
  width: 100%;
  min-height: 100vh;
  background: url('../img/plexus.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 8em;
}

.profil_pic {
    width: 40%;
    float: left;
}
@media all and (max-width: 850px) {
    .flex__parent {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .profil_pic {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 3em;
        -webkit-box-ordinal-group: -4;
            -ms-flex-order: -5;
                order: -5;
    }
    .about__title {
        width: 80%;
        margin: 0 auto;
        margin-top: 0;
        -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
                order: 5;
    }
}
@media all and (max-width: 600px) {
    .profil_pic {
        width: 80%;
        margin-bottom: 3em;
    }
}
.profil_pic p {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    /* Firefox */

    -moz-column-count: 2;

         column-count: 2;
    text-align: justify;
    -webkit-column-gap: 50px;
    /* Chrome, Safari, Opera */
    /* Firefox */

    -moz-column-gap: 50px;

         column-gap: 50px;
    color: #2e3b4b;
}
.profil_pic img {
    width: 100%;
    display: block;
}
@media all and (max-width:800px){
  .profil_pic img {
    margin-bottom: 2em;
  }
}
.about h1 span {
    font-weight: 100;
    margin-bottom: 2em;
    font-size: 50px;
    padding-top: 4em;
    letter-spacing: .4em;
    vertical-align: center;
    margin: 0;
    margin-left: .3em;
}
@media all and (max-width: 550px) {
    .about h1 {
        font-size: 13px;
        line-height: 1;
    }
    .about h1 span {
        font-size: 20px;
    }
}
.about p {
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    font-size: 14px;
}
.decors {
    width: 90%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin-right: -5%;
    margin-top: 10em;
    padding: 20em 0;
    float: right;
    background: url('../img/second_background.png') no-repeat;
    /*mix-blend-mode: screen;*/

    background-size: contain;
    -webkit-transition: all ease-in-out 0.8s;
    transition: all ease-in-out 0.8s;
    -webkit-transform: translateX(10%);
        transform: translateX(10%);
}
@media all and (max-width: 800px) {
    .decors {
        width: 100%;
        margin-top: 10em;
        padding: 15em 0;
    }
}
@media all and (max-width: 450px) {
    .decors {
        width: 120%;
        margin-top: 8em;
        padding: 10em 0;
    }
}
.showImage {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
        transform: translateX(0);
}
.fadein {
    height: 400px;
    width: 100%;
    background: url(../img/bck_trim.jpg) no-repeat fixed;
    background-size: cover;
}
@media all and (max-width:800px){
  .fadein {
      background-attachment: scroll;
  }
}
.container_2 {
    width: 100%;
    margin-top: -10em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.container_2 svg {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
@media all and (max-width: 550px) {
    .container_2 svg {
        margin: 0 auto;
        margin-top: -5em;
        -webkit-transform: scale(.9);
                transform: scale(.9);
    }
}
polygon {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.polylion:nth-child(2) {
    display: none;
}
.polylion{
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.polylion:hover{
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.animate {
    -webkit-transform: scale(10);
            transform: scale(10);
}



.launch{
  -webkit-animation: prog 8.350s infinite ; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
 animation:         prog 8.350s infinite; /* IE*/
}

@-webkit-keyframes prog {
  0%   { width:0; }
  100% { width:100%; }
}
@keyframes prog {
  0%   { width:0; }
  100% { width:100%; }
}

.sound{
  width: 20%;
  margin: auto;
  text-align: center;
  margin-top: 1.4em;
  float: left;
}


.sound p{
 text-transform:uppercase;
 letter-spacing:4px;
 font-weight:lighter;
 font-size: 12.8px;
 font-size:.8rem;
}


.button {
    width: 70px;
    height: 70px;
    z-index: 999;
    margin: auto;
    -webkit-transition: all .2S ease-in-out;
    transition: all .2S ease-in-out;


}
.button img{
  width: 100%;
}

.waiting{
  -webkit-animation: wait 1s infinite; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
 animation:         wait 1s infinite; /* IE*/
}

@-webkit-keyframes wait {
  0%   { opacity: .2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}
@keyframes wait {
  0%   { opacity: .2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
}







.loader {
    border: 2px solid #FAFAFA;
    /* Light grey */

    border-top: 2px solid #00ffc9;
    /* Blue */
    position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   z-index: 99999;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.logo_small{
  position: fixed;
  bottom: 2em;
  right: -10px;
  z-index: 9999;
  width: 130px;
  height: 64px;
}

.logo_small img {
  width: 100%
}
/******************clearfix*****************/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.fluidimage {
    max-width: 100%;
}


.project p {
  margin-top: -2em;
  margin-bottom: 2em;
  font-size: 48px;
  font-size: 3rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: -4px;

}

.project__wrapper{
  width: 100%;
  height:100vh;

}

.rememberit{


  background: url('../img/rememberit_bck.png');
  background: url('../img/rememberit_bck.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}

.hde{


  background: url('../img/hde-prod_bck.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}
.project_content{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.poly{


  background: url('../img/polysea_bck.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  margin: 0 auto;
  text-align: center;
}
.project__wrapper h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: -4px;
  font-weight: 800;
  font-size: 64px;
  font-size: 4rem;
  padding-top: 4em;
  line-height: .8;
}
.project__wrapper p {
  width: 50%;
  margin: 0 auto;
  margin-top:2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 2em;
}
.project__container p {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  text-align: center;
}
.project__container{
  width: 100%;
  padding: 20%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.project__container img {
  margin-bottom: 2em;
}
@media all and (max-width:800px){
  .project__container  {
    padding: 20%;

  }
  .project__wrapper p {
    width: 80%;

  }
  .project__wrapper {
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
   }

}

@media all and (max-width:500px){
  .project__container  {
    padding: 10%;

  }
  .project__wrapper h1 {
    padding-top: 3em;
    font-size: 2.5rem;
  }


}


.project li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: 2;
}

.transitor {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  display: none;
  top: 0;
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}
.transitor svg {
  position: relative;
  width:100%;
 height: auto;
  left: 0;
  top:0;
  stroke-width:8;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media all and (max-width:850px){
  .transitor svg {
    position: relative;
    width:100%;
   height: auto;
    left: 0;
    top:0;
    stroke-width:8;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}






.transitor__begin{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top: 0;

}

.transitor__ended{
  top:-100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";


}


@-webkit-keyframes opacityE {
  0%   { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top:0%; }
  100% { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; top:-100% }
}

@keyframes opacityE {
  0%   { opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  top:0%; }
  100% { opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; top:-100% }

}

.experience__container{
  margin: 0 auto;
  margin-top:4em;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  color: #2E3B4B;
  background: #FAFAFA;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


}

.experience__container h1{

  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  margin-top: 4em;
  vertical-align: center;
  line-height: 1;
  letter-spacing: 4px;
  text-align: center;
  color: #2E3B4B;


}
.experience__container ul{
  margin: 0;
  padding: 0;
  margin-top:4em;
  padding: 1em;
  box-sizing: border-box;
}
.experience__liste{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__liste--item{
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

.experience__liste--item img{
  width: 100%;
  display: block;

}

.experience__liste a {
  text-decoration: none;

}


.experience__liste--item p {
  margin-top: -4em;
  font-size: 32px;
  font-size: 2rem;
  color: white;
  font-weight: 800;
  text-align: center;
  letter-spacing: -2px;
}
.back_green{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background: rgba(0, 255, 201, 0.90);
}
.back_red{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background:rgba(75, 243, 235, .9);
}
.back_black{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background:rgba(50, 50, 50, .9);
}

.back_black img {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.rememberit_mockup{

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}

.rememberit_mockup img {
  width: 30%;
}

.rememberit_mockup p {
  width: 100%;
}

.hde_mockup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}
.hde_mockup img {
  width: 50%
}

.mockup__apparences{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.mockup__apparences img{
  width: 50%;
  margin: 0;
}
@media all and (max-width:800px){
  .rememberit_mockup{

    -ms-flex-wrap: wrap-reverse;

        flex-wrap: wrap-reverse;
  }
  .hde_mockup{

    -ms-flex-wrap: wrap-reverse;

        flex-wrap: wrap-reverse;
  }
  .mockup__apparences{

    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .mockup__apparences .specificite {

    margin-bottom: 2em;
  }
  .mockup__apparences img{
    width: 100%;
  }
  .rememberit_mockup img {
    width: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-right: -14px;
  }
  .hde_mockup img {
    width: 100%
  }
}
.specificite{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  width: 100%;
}

.specificite li:before {
   content: "|";
   width: 100%;
   display: block;
   text-align: center;
   font-size: 9px;
   font-family: 'Roboto', sans-serif;
   font-weight: lighter;
   margin-bottom: 3em;
   margin-top: 3em;
   vertical-align: middle;
 }

.specificite li {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #2E3B4B;
}
.container__cv{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
}
.container__cv--left{
  width: 35%;
  background: #00ffc9;
  min-height: 100vh;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.container__cv--left img {
  margin-top: 4em;
}
.container__cv--left  a{
  color: white;
}
.container__cv--left  p{
  padding: 0;
  margin: 0;
  text-align: left;

}
.container__cv--left  h2{
  font-size: 20px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: left;
  text-decoration: underline;

}
.container__cv--right{
  width: 65%;
  background: #FAFAFA;
  text-align: center;
  padding: 4em 1em 1em 1em;
  box-sizing: border-box;
  color: #2E3B4B;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


}
.container__cv--right h1{
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: -4px;
  text-transform: ;
  text-align: left;
  margin-bottom: 2.5em;
}
.container__cv--right h2{
  font-size: 20px;
  letter-spacing: -1px;
  margin-top: 4em;
  text-transform: uppercase;
  text-decoration: underline;
}
.container__cv--right  p{
  padding: 0;
  margin: 0;
  color: #2E3B4B;


}

.container__cv--right ul{
list-style: none;
margin: 0;
padding: 0;

}
@media all and (max-width:800px){
  .container__cv{
    width: 100%;
    display: block;
  }
  .container__cv--right{
    width: 100%;
  }
  .container__cv--left{
    width: 100%;
  }
}
.progress {
   width: 300px;
   height: 10px;
   border-radius: 1%;
   background-color: #e8e8e8;
   border-radius: 10px;
   margin: 0 auto;
   margin: 1em auto;

}
@media all and (max-width:500px){
  .progress{
    width: 100%;
  }
}
.progress__bar{
  height: 10px;
  background: #00ffc9;
  border-radius: 10px;

}

.skills__progress{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.skills__progress h2 {
  text-align: center;
}

.skills__progress ul {
  text-align: center;
}

.skills__progress p {
text-align: center;
}


.footer__container{
  width: 100%;
  background: #00ffc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;

}
.copy{
  width: 100%;
  background: #00ffc9;
  text-align: right;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  padding-right: 10%;
}

.footer__container--left{
  width: 50%;
  padding: 8em 0 8em 5%;
  box-sizing: border-box;
  color: #FAFAFA;
  font-family: 'Roboto',sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}

.footer__container--left:after{
  content: "";
  width: 100%;
  height: 100%;
  background: red;
}


.footer__container h1{
  text-decoration: underline;
  font-size: 48px;
  font-size: 3rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: -4px;
}

.footer__container--left a{

  color: white;
  font-family: 'Roboto', sans-serif;
}


.footer__container--right{

  color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  padding: 8em 0 8em 5%;

}

.social__network{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__network img{
  width: 100%;
  max-width: 30px;
  margin-right: 2em;
}


@media all and (max-width:550px){
  .footer__container{
    display: block;
    text-align: center;
  }
  .footer__container--left{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 3em;
    width: 100%;
  }
  .footer__container--right{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin-top: 3em;

  }
  .social__network{
    margin: 0 auto;
    text-align: center;
    margin-top: -2em;
    padding-bottom: 4em;
  }
  .social__network li {
    margin: 0 auto;
  }
  .social__network img {
    margin: 0 auto;
  }
}

.colorDot{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 1em;

  -webkit-transition: all .2s ease-in-out;

  transition: all .2s ease-in-out;


}
.colorDot:after{
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  left: 10px;
  top: 10px;
  content: attr(data-color);
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 100%;
  color: black;
  background: #FAFAFA50;
  color: white;
  font-weight: bolder;
  vertical-align: middle;
  font-size: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  line-height: 1;
  text-transform: uppercase;
}
.colorDot:hover{
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.colorDot:hover:after{
  -webkit-transform: scale(1);
          transform: scale(1);
}



.container__charte--color{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;



}
.container__charte{
  padding: 1em;
  box-sizing: border-box;
}

.container__charte h1 {
  font-weight: 900;
  font-size: 60px;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  color: #2E3B4B;

  vertical-align: center;
  line-height: .8;
  letter-spacing: -4px;
}
@media all and (max-width:550px){
  .container__charte h1 {
    font-size: 2.3rem;
    letter-spacing: -2px;
  }
}

.container__charte p {
  width: 100%;

    font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 0;
      letter-spacing: 4px;
      color: #2E3B4B;
      text-align: left;
}
.container__charte svg {
  width: 50px;
  margin-right: 1em


}
.intro__section{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 8em;
  margin-bottom: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.intro__section:after{
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background: #2E3B4B;
}
.container__charte img {
  width: 100%;
  display: block;
  margin-top: 4em;
}
.container__charte h2{
  width: 100%;

    font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      letter-spacing: 4px;
      color: #2E3B4B;
      text-align: left;

}
.container__animation{
  width: 100%;
}
.container__animation img{
  width: 100%;
}
.container__font{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__font p{
  width: 100%;
  font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    margin-top: 4em;
    vertical-align: center;
    line-height: 1;
    letter-spacing: 4px;
    color: #2E3B4B;
    text-decoration: underline;
    text-align: center;

}
@media all and (max-width:850px){

  .container__font{
    display: block;
    text-align: left;
  }
  .container__font p{
    text-align: left;
  }

}
.container__font div {
  margin: 0 auto;
}

.container__font--mountain h1{
  color: black;
  font-style: normal;

  font-size: 64px;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1em;
  color: black;
  margin-top: 0;
}

.container__font--cdh h1 {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-style: normal;

  font-size: 64px;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1em;
  margin-top: 0;
}




.container__font--eclaire h1{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-style: normal;

  font-size: 64px;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1em;
  margin-top: 0;

}

.container__font--eclaire p{
  width: 100%;
  font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
    margin-top: 4em;
    vertical-align: center;
    line-height: 1;
    letter-spacing: 4px;
    color: #2E3B4B;
    text-decoration: underline;

}



/**ANIMATION**/


.js-animate
{
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}

.js-animate--active
{
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

/* ---------------------------------------
slide in from left
--------------------------------------- */
@-webkit-keyframes slideFromLeft {

  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }

}
@keyframes slideFromLeft {

  0%
  {
    opacity: 0;
            transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
            transform: translate3d(-100%, 0, 0);
  }

  100%
  {
    opacity: 1;
            transform: translate3d(0, 0, 0);
  }

}

.js-animate--slidefromleft
{
  -webkit-animation-name: slideFromLeft;
          animation-name: slideFromLeft;
}

/* ---------------------------------------
slide in from right
--------------------------------------- */
@-webkit-keyframes slideFromRight {

  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }

}
@keyframes slideFromRight {

  0%
  {
    opacity: 0;
            transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
            transform: translate3d(100%, 0, 0);
  }

  100%
  {
    opacity: 1;
            transform: translate3d(0, 0, 0);
  }

}

.js-animate--slidefromright
{
  -webkit-animation-name: slideFromRight;
          animation-name: slideFromRight;
}

/* ---------------------------------------
slide in from bottom
--------------------------------------- */
@-webkit-keyframes slideFromBottom {

  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }

}
@keyframes slideFromBottom {

  0%
  {
    opacity: 0;
            transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
            transform: translate3d(0, 100%, 0);
  }

  100%
  {
    opacity: 1;
            transform: translate3d(0, 0, 0);
  }

}

.js-animate--slidefrombottom
{
  -webkit-animation-name: slideFromBottom;
          animation-name: slideFromBottom;
}

/* ---------------------------------------
slide in from top
--------------------------------------- */
@-webkit-keyframes slideFromTop {

  0%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }

}
@keyframes slideFromTop {

  0%
  {
    opacity: 0;
            transform: translate3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
            transform: translate3d(0, -100%, 0);
  }

  100%
  {
    opacity: 1;
            transform: translate3d(0, 0, 0);
  }

}

.js-animate--slidefromtop
{
  -webkit-animation-name: slideFromTop;
          animation-name: slideFromTop;
}

/* ---------------------------------------
zoom in
--------------------------------------- */
@-webkit-keyframes zoomIn {

  0%
  {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
  }

}
@keyframes zoomIn {

  0%
  {
    opacity: 0;
            transform: scale3d(0, 0, 0);
  }

  1%
  {
    opacity: 0;
            transform: scale3d(0.5, 0.5, 0.5);
  }

  100%
  {
    opacity: 1;
            transform: scale3d(1, 1, 1);
  }

}

.js-animate--zoomin
{
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
