---
layout: default
page_title: Experience
---
<div class="experience__container">
  <h1>Paperstrip Experience</h1>
{% assign sortedAllExp = site.paperstripexperience  %}
           {% for item in sortedAllExp %}
           {%if forloop.first%}
           <ul class="experience__liste">
              {%endif%}
                <li class="experience__liste--item"><a href="{{item.url}}"><img src="{{item.img}}"></a></li>

              {%if forloop.last%}
           </ul>
           {%endif%}
           {% endfor %}
</div>
