---
layout: default
page_title: Home
---
   <div class='fadein container'>

      <div id="slide" class="slide1"></div>
   </div>
   <svg class="wave " width="890px" height="598px" viewBox="0 0 750 598" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
      <title>Group 5</title>
      <desc>Created with Sketch.</desc>
      <defs>
         <radialGradient cx="325.086234%" cy="238.648827%" fx="325.086234%" fy="238.648827%" r="333.557815%" id="radialGradient-1">
            <stop stop-color="#272A2F" offset="0%"></stop>
            <stop stop-color="#00FFC9" offset="100%"></stop>
         </radialGradient>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
         <g id="Group-5" transform="translate(0.000000, 1.000000)">
            <path id="wave_full" class="anime_waveFull" d="M891.702432,46.6148196 C861.000001,46.6148197 866.000001,52.0000001 851.000001,61.0000001 C836.000001,70.0000001 851.000001,82.0000011 800.000001,98.0000011 C749.000001,114.000001 783.623535,45.9251526 741.000015,90.0000011 C698.376494,134.074849 700.999999,101.807408 701,122.807408 C701.000001,143.807408 739.999995,156.999997 700.999999,156.999997 C662.000004,156.999997 664.377995,198.999994 751,198.999997 C837.622005,199.000001 808.000005,147.999997 836.000005,147.999997 C864.000005,147.999997 893.077384,187.654324 893.077384,187.654324" id="Path-333" fill="url(#radialGradient-1)"></path>
            <path id="wave_border" d="M888,40 C888,40 873,38 841,38 C809,38 754,28 715,13 C676,-2 623,-11.9999986 583,32 C543,75.9999986 489,161.000001 424,178 C359,194.999999 341,194.000001 268,173 C195,151.999999 116,198.000001 78,262 C40,325.999999 32,340.000001 15,363 C-2,385.999999 -9,430.000001 22,448 C53,465.999999 54,496.999971 75,531 C96,565.000029 125,606.999971 188,594 C251,581.000029 348,547.000001 380,512 C412,476.999999 439,427.000001 482,411 C525,394.999999 585,394.000001 648,372 C711,349.999999 763,294.000001 779,278 C795,261.999999 834,222.000001 890,222" id="Path-353" stroke-opacity="0.258293705" stroke="#000000" stroke-width="0.5"></path>
         </g>
      </g>

   </svg>
   <div class="container_2 showImage">
     {% include whale.html %}
      <div id="about" class="about showAbout clearfix">
         <h1>WEB DESIGNER<span>/</span>WEB DEVELOPER</h1>
         <div class="flex__parent about__design margin-top clearfix ">
            <div class="about__title rotate" data-animation="animated" data-animation-type="slidefrombottom">
               <h1>Hello world</h1>
               <p>
Moi c'est Arnaud Herr, je suis un Web designer & developer fraichement sorti des études. J'aime élaborer des designs élégants, dans l'air du temps, ainsi que les développer.</p>
                <a href="/about"><button class="btn btn-1 btn-1c">Lire plus</button></a>
            </div>
            <div class="profil_pic" data-animation="animated" data-animation-type="slidefromright" ><img src="img/profil.png" alt=""></div>
         </div>
         <div class="  clearfix ">

         </div>
         <div class=" big__container clearfix ">
           <a href="/projects"><img class="project__title" src="img/project.png" alt="Projects"></a>
           {% assign sortedAllPost = (site.posts | sort: 'date') | reverse %}
           {% for item in sortedAllPost limit:3 %}
           {%if forloop.first%}
           <ul class="project" id="project">
              {%endif%}
                <li data-animation="animated" data-animation-type="slidefrombottom" data-animation-delay="0.{{ forloop.index }}s"><a href="{{item.url}}"><img src="{{item.img}}"><p>{{item.title}}</p></a></li>

              {%if forloop.last%}
           </ul>
           {%endif%}
           {% endfor %}
           <a href="/projects"><button class="btn btn-1 btn-1c">Voir plus</button></a>

         </div>
         <div class=" container__lab bg clearfix ">
           <a href="/lab"><img class="lab__title" src="img/lab.png" alt="Lab"></a>
           {% assign sortedAllPost = (site.labprojects | sort: 'date') | reverse %}
           {% for item in sortedAllPost limit:3 %}
           {%if forloop.first%}
           <ul class="project" id="project">
              {%endif%}
                <li data-animation="animated" data-animation-type="slidefrombottom" data-animation-delay="0.{{ forloop.index }}s"><a href="{{item.url}}"><img src="{{item.img}}"></a></li>

              {%if forloop.last%}
           </ul>
           {%endif%}
           {% endfor %}
           <a href="/lab"><button class="btn btn-1 btn-1c">Voir plus</button></a>

         </div>
</div>
</div>
