---
layout: default
page_title: Lab
---
<div class="experience__container lab__container">
  <h1 class="style-zoom" data-title='The Lab'>The Lab</h1>
{% assign sortedAllLab = (site.labprojects | sort: 'date') | reverse %}
           {% for item in sortedAllLab %}
           {%if forloop.first%}
           <ul class="project">
              {%endif%}
                <li data-animation="animated" data-animation-type="zoomin" data-animation-delay="0.{{ forloop.index }}s" class="showProject"><a href="{{item.url}}"><img src="{{item.img}}"></a></li>

              {%if forloop.last%}
           </ul>
           {%endif%}
           {% endfor %}
</div>
