<!DOCTYPE html>
<html class="no-js" lang="fr">
   <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110475124-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110475124-1');
      </script>

      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">

      <!-- MODERNIZR -->
      <title>Arnaud Herr Porftolio</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



      <link rel="stylesheet" href="/css/main.css">

   </head>
